<header class="header">
  <div class="header-container">
    <div class="logo-section">
      <div >
        <img src="assets/imagens/logo-site.png" alt="Logo" class="logo-img" />
      </div>
    </div>

    <button class="add-client-btn" (click)="onAddClient()">
      <span class="icon">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 12c2.7 0 8 1.34 8 4v2H7v-2c0-2.66 5.3-4 8-4zm-4-4c0-2.21 1.79-4 4-4s4 1.79 4 4-1.79 4-4 4-4-1.79-4-4zM5 8v2H3v2h2v2h2v-2h2v-2H7V8H5z"/>
        </svg>
      </span>
      Novo Paciente
    </button>
  </div>
</header>
